[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Meza/client-gateway.git
[submodule "productos-ms"]
	path = productos-ms
	url = https://github.com/Nest-Microservices-Meza/productos-ms.git
[submodule "ordenes-ms"]
	path = ordenes-ms
	url = https://github.com/Nest-Microservices-Meza/ordenes-ms.git
[submodule "pagos-ms"]
	path = pagos-ms
	url = https://github.com/Nest-Microservices-Meza/pagos-ms.git
